.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: var(--max-screen-width);
  margin: 0 auto;
}

.publicationsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.buttonWithPost {
  align-items: flex-start;
}
