@import '@/styles/constants';

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 100%;
  margin-top: 37px;
}

.sentMessage {
  margin-bottom: 18px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  order: 1;

  @media (max-width: $mobile-width) {
    order: 2;
    margin-top: 12px;
  }
}

.button {
  @media (max-width: $mobile-width) {
    padding: 12px 24px;
  }
}

.recaptcha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 2;

  border-radius: var(--border-radius-xxs);

  @media (max-width: $mobile-width) {
    order: 1;
  }
}

.recaptchaError {
  outline: 1px solid var(--color-danger-500);
  outline-offset: 6px;
}
