@import '@/styles/constants';

.avatarBlock {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;

  margin-top: 24px;

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.avatarWrapper {
  position: relative;
}

.buttonWrapper {
  position: absolute;
  top: 4%;
  right: 11%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;
  border-radius: var(--border-radius-rounded);

  background-color: var(--color-dark-900);
}

.button {
  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 12px 24px;
  }
}

.closeButton {
  border-radius: var(--border-radius-rounded);
  background-color: var(--color-danger-500);
}

.closeIcon {
  width: 20px;
  height: 20px;
}
