.placeholderContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 222px;
  height: 228px;
  margin: 24px 0 60px;

  background-color: var(--color-dark-500);
  border-radius: var(--border-radius-xs);
}

.icon {
  width: 48px;
  height: 48px;
}
