@import '@/styles/constants';

.publicationContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.avatarContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}




