.descriptionContainer {
  display: flex;
}

.descriptionText {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: aspect-ratio 0.3s ease; // Добавляем плавный переход
}


.toggleButton {
  display: inline-block;

  margin-left: 4px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-accent-500);
  text-decoration: underline;
}