@import '@/styles/constants';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 380px;

  @media (max-width: $mobile-width) {
    padding: 0;
    border: none;
    background: transparent;
  }
}

.linkButton {
  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 12px;
  }
}
