@import '@/styles/constants';

.gridContainer {
  grid-column: 2 / 3;

  @media (max-width: $mobile-width) {
    overflow-x: auto;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 492px;
  padding: 24px;
}

.textArea {
  resize: none;

  width: 100%;
  max-width: 434px;
  min-height: 120px;

  // размытие фона https://stackoverflow.com/questions/54667653/text-blur-after-scroll-bar-hide-with-webkit
  border-radius: unset;
}

.separator {
  background-color: var(--color-dark-100);

  &[data-orientation='horizontal'] {
    width: 100%;
    height: 1px;
  }
}
