.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;

  width: 100%;
}

.paymentButtons {
  display: flex;
  gap: 12px;
  align-items: center;
  align-self: flex-end;
  justify-content: center;
}

.paymentIcon,
.paymentButton {
  width: 96px;
  height: 64px;
}
