@import '@/styles/constants';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 330px;
}

.textField {
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.button {
  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 12px;
  }
}
