.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.container {
  display: flex;
  gap: 48px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
}
