@import '@/styles/constants';

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 380px;

  @media (max-width: $mobile-width) {
    padding: 0;
    border: none;
    background: transparent;
  }
}

.title {
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.caption {
  margin: 0 0 16px;
  color: var(--color-light-900);
}
