.totalUsersContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 12px 24px;
  border: 1px solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);

  background-color: var(--color-dark-500);
}

.totalUsersCounterContainer {
  display: flex;
  align-items: center;

  padding: 8px 12px;
  border: 1px solid var(--color-dark-300);
  border-radius: var(--border-radius-xs);

  background-color: var(--color-dark-700);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 24px;
  border-right: 1px solid var(--color-dark-300);

  &:last-child {
    border-right: none;
  }
}
