@import '@/styles/constants';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.publicationsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 234px); /* Адаптивные колонки */
  gap: 12px;
  justify-content: center;

  width: 100%;

  @media (max-width: $mobile-width) {
    grid-template-columns: repeat(auto-fill, 128px); /* Адаптивные колонки */
    gap: 0;
  }

  @media (width <= 405px) {
    grid-template-columns: repeat(auto-fill, 118px); /* Адаптивные колонки */
    gap: 0;
  }

  @media (width <= 375px) {
    grid-template-columns: repeat(auto-fill, 108px); /* Адаптивные колонки */
    gap: 0;
  }
}

.noPost {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  margin-top: 12px;
}
