@import '@/styles/constants';

.publicationContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.layersIcon {
  pointer-events: none;

  position: absolute;
  top: 8px;
  right: 8px;

  width: var(--icon-size-m);
  height: var(--icon-size-m);

  color: rgb(188 190 192 / 40%);
}

.imageContainer {
  cursor: pointer;

  position: relative;

  width: 234px;
  height: 228px;
  padding: 0;

  &:hover {
    outline: 1px solid var(--color-accent-500);
  }

  &:hover .layersIcon {
    color: #498de7;
  }

  @media (width <= $mobile-width) {
    width: 128px;
    height: 128px;
  }

  @media (width <= 405px) {
    width: 118px;
    height: 118px;
  }

  @media (width <= 375px) {
    width: 108px;
    height: 108px;
  }
}

.publicationMeta {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  overflow-wrap: break-word;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collapsed {
  overflow: hidden;
  display: inline;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; // Ограничение текста до 3 строк

  text-overflow: ellipsis;
}

.expanded {
  display: inline;
}

.toggleButton {
  align-self: flex-end;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--color-accent-500);
  text-decoration: underline;
}
