.socials {
  display: flex;
  gap: 60px;
  justify-content: center;

  width: 100%;
  margin: 12px 0;
}

.socialsButton {
  &:hover {
    transform: scale(1.1);
    color: inherit;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &:focus {
    border-radius: var(--border-radius-rounded);
    outline-offset: 4px;
  }
}

.icon {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: rgb(57 125 246 / 25%);
    border-radius: var(--border-radius-rounded);
    box-shadow: 0 8px 30px rgb(57 125 246 / 25%);
  }
}
