@import '@/styles/constants';

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

.buttonTrigger {
  padding: 6px;
}

.arrow {
  fill: var(--color-dark-500);
}

.popoverContent {
  padding: 16px;
  background-color: var(--color-dark-500);

  @media (max-width: $mobile-width) {
    width: calc(100vw - 24px); // Полная ширина минус отступы
    max-width: none; // Убираем максимальную ширину если она была
    margin: 0 12px; // Отступы по бокам
  }
}

.title {
  display: inline-block;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
}

.separator {
  margin: 12px 0;
}

.scrollContainer {
  width: 354px;
  max-height: 424px;

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}
