.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: var(--max-screen-width);
  margin: 0 auto;
}

.searchContainer {
  display: flex;
  gap: 94px;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.filterSelect {
  width: 100%;
  min-width: 234px;
}
